<nav class="navbar bg-base-100 max-w-2xl mx-auto">
  <div class="navbar-start"></div>

  <div class="navbar-center">
    <span class="text-xl"><%= "<todo>" %></span>
  </div>

  <div class="navbar-end"></div>
</nav>

<div class="max-w-2xl mx-auto mt-4 px-[var(--navbar-padding,0.5rem)]">
  <section class="flex items-center gap-4">
    <form style="line-height: 0;">
      <input type="checkbox" class="checkbox" />
    </form>

    <div class="w-full">
      <%= form_with model: Todo.new do |f| %>
        <%= f.text_field :title, placeholder: "what needs to be done?", class: "input input-bordered w-full" %>
      <% end %>
    </div>
  </section>

  <div class="divider"></div>

  <main>
    <%= render @todos %>
  </main>
</div>
